<main>
    <h1>add</h1>
    <a href="/userpost">home</a>
    <form action="/userpost" method="post">
        <label for="lastName">First lastName:</label><br />
        <input type="text" id="lastName" name="lastName" value="John" /><br />
        <label for="password">First password:</label><br />
        <input type="password" id="password" name="password" value="John" /><br />
        <input type="submit" value="Submit" />
    </form>
</main>
